<?xml version="1.0" ?>
<launch>
	<arg name="machine" 			default="localhost"/>
	<arg name="user" 				default=""/>
	<arg name="is_costmap" 			default="false"/>
	<arg name="map" 				default="$(find semantic_goals_generator)/map/map.yaml"/>
	<arg name="rois" 				default="$(find semantic_goals_generator)/config/rois.yaml"/>

	<!-- Environment -->
	<machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true"/>

	<node pkg="semantic_goals_generator" type="semantic_goals_generator" name="semantic_goals_generator" output="screen">
		<param name="is_costmap" 	value="$(arg is_costmap)"/>
		<param name="map_topic" 	value="map" />
		<rosparam file="$(arg rois)" command="load"/>
	</node>
</launch>
